<div class="table-container">
  <div class="search-bar-container">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search Drugs</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Paracetamol" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- Button Container -->
    <div class="button-container">
      <button mat-button class="low-stock-button" routerLink="../low-stock">Low Stock</button>
      <button mat-button class="expiry-button" routerLink="../expiry-stock">Expiry</button>
      <button mat-button class="low-stock-button" routerLink="../order-drugs" >Order Distributor</button>
      <button mat-button class="low-stock-button" routerLink="../order-drugs-brand" >Order Brand</button>
      <button mat-button class="low-stock-button" routerLink="../confirm-order" >Confirm Order</button>
    </div>
  </div>

  <!-- Conditional Message if Data is Empty -->
  <div *ngIf="dataSource.data.length === 0" class="no-data-message">
    <p>No low stock drugs found</p>
  </div>

  <!-- Table Display -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Drug Name Column -->
    <ng-container matColumnDef="drugName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug Name </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.drugName }} </td>
    </ng-container>

    <!-- Drug Code Column -->
    <ng-container matColumnDef="drugCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug Code </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.drugCode }} </td>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer Company </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.manufacturer }} </td>
    </ng-container>


    <ng-container matColumnDef="strip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Strip</th>
      <td mat-cell *matCellDef="let drug"> {{ drug.strip }} </td>
    </ng-container>
    <ng-container matColumnDef="perStripQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PerStripQuantity</th>
      <td mat-cell *matCellDef="let drug"> {{ drug.perStripQuantity}} </td>
    </ng-container>
    <ng-container matColumnDef="perStripPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PerStripPrice </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.perStripPrice }} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.price }} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.stock }} </td>
    </ng-container>

    <!-- Discount Column -->
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.discount }} </td>
    </ng-container>

    <!-- Expiry Date Column -->
    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
      <td mat-cell *matCellDef="let drug"> {{ drug.expiryDate | date }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
