.table-container {
  width: 100%;
  margin: 20px 0;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
.search-bar {
  width: 300px; /* Adjust the width as needed */
  margin-bottom: 10px;
}
