.table-container {
  width: 100%;
  margin: 20px 0;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
  max-width: 300px; /* Ensure search bar has a max width */
}

.search-bar {
  flex-grow: 1; /* This allows the search bar to take as much space as possible */
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.low-stock-button {
  background-color: #FFBF00;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.expiry-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.low-stock-button:hover,
.expiry-button:hover {
  opacity: 0.8;
}
.no-data-message {
  text-align: center;
  font-size: 18px;
  color: #757575;
  padding: 20px;
}
