<div class="dashboard-container">
  <h1>Dashboard</h1>
  <p>A quick data overview of the inventory.</p>

  <!-- Summary Cards Section -->
  <div class="summary-cards">
    <div class="card" style="border-color: #5cd18a;">
      <mat-icon class="card-icon" style="color: #5cd18a;">store</mat-icon>
      <div class="card-content">
        <!-- Display the count of Store profiles -->
        <span>Store Profiles: {{ storeCount?.count }}</span>
      </div>
      <button mat-button class="detail-btn" routerLink="../distributor-Pending-Order">View Detailed Report &raquo;</button>
    </div>

    <div class="card" style="border-color: #f0c22b;">
      <mat-icon class="card-icon" style="color: #f0c22b;">attach_money</mat-icon>
      <div class="card-content">
        <!-- Display the count of Distributor profiles -->
        <span>Distributor Profiles: {{ distributorCount?.count }}</span>
      </div>
      <button mat-button class="detail-btn" routerLink="../distributor-Confirm-Order">View Detailed Report &raquo;</button>
    </div>

    <div class="card" style="border-color: #62b9f3;">
      <mat-icon class="card-icon" style="color: #62b9f3;">business</mat-icon>
      <div class="card-content">
        <!-- Display the count of Brand profiles -->
        <span>Brand Profiles: {{ brandCount?.count }}</span>
      </div>
      <button mat-button class="detail-btn" routerLink="../distributor-discount">Visit Inventory &raquo;</button>
    </div>


    <div class="card" style="border-color: #62b9f3;">
      <mat-icon class="card-icon" style="color: #62b9f3;">business</mat-icon>
      <div class="card-content">
        <!-- Display the count of Brand profiles -->
        <span>Campaign Profiles: {{   totalUsersResponse?. totalUsers }}</span>
      </div>
      <button mat-button class="detail-btn" routerLink="../campaign-users">Visit Inventory &raquo;</button>
    </div>
  </div>
</div>
