<div class="search-bar">
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search"
    class="search-input"
  />
  <!-- Export Button -->
  <button mat-raised-button (click)="exportToExcel()" class="export-btn">Export to Excel</button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="patientName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</th>
    <td mat-cell *matCellDef="let row">{{ row.patientName }}</td>
  </ng-container>

  <ng-container matColumnDef="contactNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
    <td mat-cell *matCellDef="let row">{{ row.contactNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="adharCardNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Adhar Card Number</th>
    <td mat-cell *matCellDef="let row">{{ row.adharCardNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="drugName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Drug Name</th>
    <td mat-cell *matCellDef="let row">{{ row.drugName }}</td>
  </ng-container>

  <ng-container matColumnDef="drugCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Drug Code</th>
    <td mat-cell *matCellDef="let row">{{ row.drugCode }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
    <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="strip">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Strip</th>
    <td mat-cell *matCellDef="let row">{{ row.strip }}</td>
  </ng-container>

  <ng-container matColumnDef="mrp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
    <td mat-cell *matCellDef="let row">{{ row.mrp }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
